@import "variables/var";
@import "nav";

body {
  background-color: green;
  color: $color-second;
}

.mybut {
  color: #444;
  background-color: yellow;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 auto;
}

.block {
  &__top {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  &__top-icon {
  }

  &__footer {
  }
}
.mybut {
}
